body {
  margin: 0;
}


#navbar {
  overflow: hidden;
  background-color: #C2DFE3;
}

#navbar a {
  float: right;
  display: block;
  color: #253237;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
}

.content {
  padding: 25px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 77px;
}

.navButton {
        border-style:none;
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
		-webkit-transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
		-ms-transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
		transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
		background-color: transparent;
		color: #253237;
		cursor: pointer;
		display: inline-block;
		font-family: "Raleway", Helvetica, sans-serif;
		font-size: 0.8rem;
		font-weight: 600;
		height: 3rem;
		letter-spacing: 0.175em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
/*		white-space: nowrap;*/
}

.navButton:hover {
    opacity: .5;
}